*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header classes */
header {
    border-top: 1px solid lightgrey;
    margin: 10px;
}
.head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin: 10px;
    font-weight: bolder;
}
header img {
    line-height: 80px;
    height: 80px;
    vertical-align: middle;  
}


body {
    font-family: Arial, Helvetica, sans-serif;
}
/* main classes */
main {
    background-color: lightgrey;

}
.contenitore {
    background-color: lightgrey;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.navigazione {
    background-color: white;
    padding: 20px 40px;
    margin-top: 20px;
    
    
}
.nav {
    border-radius: 5px;
    padding: 10px;
}
.task {
    background-color: lightskyblue;
    color: white;
}
.section {
    border: 2px solid lightgrey;
    color: lightgrey;
}

.informazioni {
    background-color: white;
    padding: 20px 40px;
    margin-top: 2px;
    
}